@import './utils/modern-normalize';
@import './utils/variables';
@import './utils/mixins';
@import './utils/common';
@import './utils/container';
@import './utils/placeholder';
@import './components/mobile';
@import './components/footer-base';
@import './components/footer-contacs';
@import './components/footer-subscription';
@import './components/footer_social';
@import './components/header-base';
@import './components/header-contacs';
@import './components/header-nav';
@import './components/clients';
@import './components/hero';
@import './components/modal';
@import './components/soft-skills';
@import './components/team';
@import './components/work';
@import './components/card';
@import './components/filter';
