.clients__list {
  display: flex;
}
.clients__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__link {
  @include flexCenterCenter;
  width: 170px;
  height: 92px;
  border-radius: $borderRadiusAccent;
  @include borderSolid(1, $greyCardLinkColor);
  color: $greyCardLinkColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $activeColor;
    border-color: $activeColor;
  }
}
.clients__icon {
  @include clientsIcon;
}
